<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .text-red {
        color: red;
      }
      .text-green {
        color: green;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- <input type="text" v-model="name" /> -->
      <!--v-model attribute is vue specific. Changes the data in vue and automatically changes display. Usually for input fields-->
      <!-- <h1 v-bind:class="headerClass">Hello, {{name}}</h1> -->
      <!--you can store classes in main.js and bind them in html-->
      <!-- <p>{{greetings}}</p>
      <h2>{{count}}</h2>
      <button type="button" @onclick="increment">+ Increment</button> -->
      <!--if you're referring to an event, you can use @ instead of v:-->
      <!-- <button type="button" @onclick="decrement">- Decrement</button> -->
      <!--You dont have to add the ()-->
      <form @submit.prevent="submitHandler">
        <input type="text" v-model="inputTask" />
        <button type="submit">Add To Task</button>
      </form>
      <div class="text-red" v-show="tasks.length === 0">No items yet</div>
      <ul>
        <li v-for="item in tasks">{{ item }}</li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="main.js"></script>
  </body>
</html>
